* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.ipynb binary
*.pdf -text
*.png -text
*.jpg -text
*.jpeg -text
*.gif -text
*.npy -text
*.pkl -text
*.zip -text
*.gz -text
